/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #141414;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #141414;
  align-items: center;
  border-bottom: 1px solid #333;
}

.navbar .logo {
  font-size: 28px;
  font-weight: 700;
  color: #e50914;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #e50914;
}

h1, h2, h3 {
  font-weight: 700;
  margin: 10px 0;
}

.movies-section {
  padding: 50px;
}

.swiper-slide img {
  border-radius: 6px;
  width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
